@import "tailwindcss";
@source "../../node_modules/@halvaradop/ui-button";
@reference "../../node_modules/@halvaradop/tailwindcss-utilities/dist/plugin.css";

@theme {
    --breakpoint-base: 900px;

    --font-inter: var(---font-inter);

    --rounded: 0.375rem;
    --opacity-cursor: 80%;

    --color-muted: oklch(65% 0.01 260);
    --color-border: oklch(70% 0.02 260);
    --color-overlay: oklch(30% 0.02 260 / 0.3);

    --color-success: oklch(75% 0.18 140);
    --color-danger: oklch(65% 0.2 25);

    --color-surface: oklch(98% 0 0);
    --color-on-surface: oklch(20% 0.02 260);

    --color-primary: oklch(30% 0 270);
    --color-on-primary: oklch(95% 0 0);

    --color-secondary: oklch(60% 0 270);
    --color-on-secondary: oklch(10% 0 0);

    --color-ghost: oklch(94% 0.01 260);

    --color-disabled: oklch(92% 0 0);
    --color-on-disabled: oklch(60% 0.01 260);

    --size-sm: 1.75rem;
    --size-base: 2.25rem;
    --size-md: 2.75rem;
    --size-lg: 3.25rem;
}
